### Import Libraries

In [1]:
import pandas as pd
import keras
import tabulate as tb
import numpy as np

gpus = keras.backend._get_available_gpus()

if len(gpus) == 0:
    print("No GPU's Available")
else:
    print(gpus)

No GPU's Available

### Read CSV File

In [7]:
dataset_dir = "Datasets/FinalClean.csv"
df = pd.read_csv(dataset_dir)
df = df.iloc[:,1:21]
df

C:\Users\tyele\AppData\Local\Temp\ipykernel_20392\1873243381.py:2: DtypeWarning: Columns (0,1,2,3,9,11,12,13,14,15,16,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dataset_dir)

,movieId,belongs_to_collection,budget,genres,imdb_id,overview,production_companies,release_date,runtime,title,vote_average,vote_count,userId,rating,imdbId,tmdbId,cast,crew,keywords,like_movie
0,100,NaN,1350000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",tt0120735,a card sharp and his unwillingly-enlisted frie...,"[{'name': 'Handmade Films Ltd.', 'id': 146}, {...",3/5/1998,105,"lock, stock and two smoking barrels",7.5,1671,55,3.0,115907,11062,"[{'cast_id': 12, 'character': 'Tom', 'credit_i...","[{'credit_id': '52fe4217c3a36847f80035c1', 'de...","[{'id': 502, 'name': 'ambush'}, {'id': 567, 'n...",1
1,100,NaN,1350000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",tt0120735,a card sharp and his unwillingly-enlisted frie...,"[{'name': 'Handmade Films Ltd.', 'id': 146}, {...",3/5/1998,105,"lock, stock and two smoking barrels",7.5,1671,311,3.0,115907,11062,"[{'cast_id': 12, 'character': 'Tom', 'credit_i...","[{'credit_id': '52fe4217c3a36847f80035c1', 'de...","[{'id': 502, 'name': 'ambush'}, {'id': 567, 'n...",1
2,100,NaN,1350000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",tt0120735,a card sharp and his unwillingly-enlisted frie...,"[{'name': 'Handmade Films Ltd.', 'id': 146}, {...",3/5/1998,105,"lock, stock and two smoking barrels",7.5,1671,162,3.0,115907,11062,"[{'cast_id': 12, 'character': 'Tom', 'credit_i...","[{'credit_id': '52fe4217c3a36847f80035c1', 'de...","[{'id': 502, 'name': 'ambush'}, {'id': 567, 'n...",1
3,100,NaN,1350000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",tt0120735,a card sharp and his unwillingly-enlisted frie...,"[{'name': 'Handmade Films Ltd.', 'id': 146}, {...",3/5/1998,105,"lock, stock and two smoking barrels",7.5,1671,511,5.0,115907,11062,"[{'cast_id': 12, 'character': 'Tom', 'credit_i...","[{'credit_id': '52fe4217c3a36847f80035c1', 'de...","[{'id': 502, 'name': 'ambush'}, {'id': 567, 'n...",1
4,100,NaN,1350000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",tt0120735,a card sharp and his unwillingly-enlisted frie...,"[{'name': 'Handmade Films Ltd.', 'id': 146}, {...",3/5/1998,105,"lock, stock and two smoking barrels",7.5,1671,256,3.0,115907,11062,"[{'cast_id': 12, 'character': 'Tom', 'credit_i...","[{'credit_id': '52fe4217c3a36847f80035c1', 'de...","[{'id': 502, 'name': 'ambush'}, {'id': 567, 'n...",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33450,996,NaN,927262,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",tt0036775,unsuspecting mr. dietrichson becomes increasin...,"[{'name': 'Paramount Pictures', 'id': 4}]",4/24/1944,107,double indemnity,8.0,425,534,4.0,116830,9333,"[{'cast_id': 13, 'character': 'Walter Neff', '...","[{'credit_id': '52fe4298c3a36847f802ad8b', 'de...","[{'id': 236, 'name': 'suicide'}, {'id': 3973, ...",1
33451,996,NaN,927262,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",tt0036775,unsuspecting mr. dietrichson becomes increasin...,"[{'name': 'Paramount Pictures', 'id': 4}]",4/24/1944,107,double indemnity,8.0,425,362,2.0,116830,9333,"[{'cast_id': 13, 'character': 'Walter Neff', '...","[{'credit_id': '52fe4298c3a36847f802ad8b', 'de...","[{'id': 236, 'name': 'suicide'}, {'id': 3973, ...",0
33452,996,NaN,927262,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",tt0036775,unsuspecting mr. dietrichson becomes increasin...,"[{'name': 'Paramount Pictures', 'id': 4}]",4/24/1944,107,double indemnity,8.0,425,119,3.0,116830,9333,"[{'cast_id': 13, 'character': 'Walter Neff', '...","[{'credit_id': '52fe4298c3a36847f802ad8b', 'de...","[{'id': 236, 'name': 'suicide'}, {'id': 3973, ...",1
33453,996,NaN,927262,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",tt0036775,unsuspecting mr. dietrichson becomes increasin...,"[{'name': 'Paramount Pictures', 'id': 4}]",4/24/1944,107,double indemnity,8.0,425,105,3.0,116830,9333,"[{'cast_id': 13, 'character': 'Walter Neff', '...","[{'credit_id': '52fe4298c3a36847f802ad8b', 'de...","[{'id': 236, 'name': 'suicide'}, {'id': 3973, ...",1
33454,99846,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",tt0076409,the three surviving daughters of a murdered mo...,"[{'name': 'New World Pictures', 'id': 1950}, {...",6/1/1977,96,moonshine county express,0.0,0,624,3.0,2366308,135921,"[{'cast_id': 2, 'character': 'J.B. Johnson', '...","[{'credit_id': '58f402b9c3a3680867019e4e', 'de...","[{'id': 531, 'name': 'southern usa'}, {'id': 7...",1

In [11]:
df.columns.values

array(['movieId', 'belongs_to_collection', 'budget', 'genres', 'imdb_id',
       'overview', 'production_companies', 'release_date', 'runtime',
       'title', 'vote_average', 'vote_count', 'userId', 'rating',
       'imdbId', 'tmdbId', 'cast', 'crew', 'keywords', 'like_movie'],
      dtype=object)

#### Independant Variables for Classifcation:
* Casting Credits ---- Maybe
* Overview <----- genreate_sequences
* Genre <-- One-Hot Encoded
* Budget <-- Continuous
* Ratings <-- Categorical
* Collection <-- NA
* title <-- Sequential/Embedded
--------------
#### Dependant Variable for classification

* liked_movie
--------------

#### Filtered based on

* UserID

In [8]:



def get_user_movies(df, ID):
    return df[df['userId'] == ID]

df_564 = get_user_movies(df, 564)
df_564

,movieId,belongs_to_collection,budget,genres,imdb_id,overview,production_companies,release_date,runtime,title,vote_average,vote_count,userId,rating,imdbId,tmdbId,cast,crew,keywords,like_movie
25,1018,NaN,15000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt0166924,after a car wreck on the winding mulholland dr...,"[{'name': 'Asymmetrical Productions', 'id': 37...",5/16/2001,147,mulholland drive,7.7,1517,564,4.0,59793,20723,"[{'cast_id': 8, 'character': 'Betty Elms', 'cr...","[{'credit_id': '52fe42e4c3a36847f802aea5', 'de...","[{'id': 222, 'name': 'schizophrenia'}, {'id': ...",1
36,1024,NaN,5000000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",tt0110005,based on the true story of juliet hulme and pa...,"[{'name': 'WingNut Films', 'id': 11}, {'name':...",9/2/1994,99,heavenly creatures,6.9,299,564,4.0,38166,15947,"[{'cast_id': 7, 'character': 'Pauline Parker R...","[{'credit_id': '52fe42e5c3a36847f802b0a1', 'de...","[{'id': 456, 'name': 'mother'}, {'id': 572, 'n...",1
40,103,NaN,1300000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",tt0075314,a mentally unstable vietnam war veteran works ...,"[{'name': 'Columbia Pictures Corporation', 'id...",2/7/1976,114,taxi driver,8.1,2632,564,5.0,118040,2045,"[{'cast_id': 5, 'character': 'Travis Bickle', ...","[{'credit_id': '52fe4218c3a36847f80037c1', 'de...","[{'id': 422, 'name': 'vietnam veteran'}, {'id'...",1
71,1049,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",tt0108185,set in the south of the united states just aft...,"[{'name': 'Canal Plus', 'id': 104}, {'name': '...",2/5/1993,109,sommersby,6.0,82,564,3.0,116409,10586,"[{'cast_id': 11, 'character': 'Laurel Sommersb...","[{'credit_id': '52fe42e5c3a36847f802b225', 'de...","[{'id': 531, 'name': 'southern usa'}, {'id': 1...",1
114,105,"{'id': 264, 'name': 'Back to the Future Collec...",19000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",tt0088763,eighties teenager marty mcfly is accidentally ...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",7/3/1985,116,back to the future,8.0,6239,564,4.0,112579,688,"[{'cast_id': 14, 'character': 'Marty McFly', '...","[{'credit_id': '52fe4218c3a36847f80039c7', 'de...","[{'id': 389, 'name': 'clock tower'}, {'id': 83...",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33276,955,"{'id': 87359, 'name': 'Mission: Impossible Col...",125000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",tt0120755,with computer genius luther stickell at his si...,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",5/24/2000,123,mission: impossible ii,5.9,1966,564,5.0,29947,900,"[{'cast_id': 31, 'character': 'Ethan Hunt', 'c...","[{'credit_id': '589783759251412e1601cef6', 'de...","[{'id': 321, 'name': 'terror'}, {'id': 514, 'n...",1
33315,968,NaN,1800000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",tt0072890,a man robs a bank to pay for his lover's opera...,"[{'name': 'Artists Entertainment Complex', 'id...",8/11/1975,125,dog day afternoon,7.6,685,564,5.0,63350,10331,"[{'cast_id': 15, 'character': 'Sonny', 'credit...","[{'credit_id': '52fe4294c3a36847f8029dd7', 'de...","[{'id': 974, 'name': 'bank'}, {'id': 1562, 'na...",1
33373,980,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",tt0036244,gil carter and art croft ride into a small nev...,[{'name': 'Twentieth Century Fox Film Corporat...,3/11/1943,75,the ox-bow incident,7.9,71,564,1.0,93229,39448,"[{'cast_id': 16, 'character': 'Gil Carter', 'c...","[{'credit_id': '52fe4295c3a36847f802a227', 'de...","[{'id': 1582, 'name': 'saloon'}, {'id': 1679, ...",0
33407,988,NaN,5900000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt0078966,while doing a series of reports on alternative...,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...",3/16/1979,122,the china syndrome,7.0,99,564,5.0,116442,58985,"[{'cast_id': 14, 'character': 'Kimberly Wells'...","[{'credit_id': '52fe4296c3a36847f802a7e9', 'de...","[{'id': 387, 'name': 'california'}, {'id': 903...",1
33413,991,NaN,1500000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",tt0074851,thomas jerome newton is an alien who comes to ...,"[{'name': 'British Lion Films', 'id': 632}]",3/18/1976,138,the man who fell to earth,6.4,139,564,3.0,117039,1770,"[{'cast_id': 14, 'character': 'Thomas Jerome N...","[{'credit_id': '52fe4297c3a36847f802aa3f', 'de...","[{'id': 1603, 'name': 'extraterrestrial techno...",1

In [10]:
T_genre_x = df_np[1,:]
T_overview_x = df_np[2,:]
T_budget_x = df_np[3,:]
T_rating_x = df_np[4,:]
T_belongs_to_collection_x = df_np[5,:]

In [2]:
from keras.preprocessing import *
from keras_preprocessing.sequence import pad_sequences


import re
import numpy as np




genre_dict = {
"Comedy": 0,
"Crime": 1,
"Drama": 2,
"Action": 3,
"Horror": 4,
"Thriller": 5,
"Mystery": 6,
"War": 7,
"Fantasy": 8,
"Foreign": 9,
"Music": 10,
"Documentary": 11,
"Romance": 12,
"Adventure": 13,
"Science Fiction": 14,
"Family": 15,         
"Western": 16,
"TV Movie": 17,
"Animation": 18,
"History": 19
} 

col = {'userID': 0,
       'genre': 1,
       'overview': 2,
       'budget': 3,
       'rating': 4,
       'collection': 5}

def get_user_movies(df, ID):
    return df[df['userId'] == ID]

def df_to_numpy(df):
    df_np = np.array([
        df['userId'],
        df['genres'],
        df['overview'],
        df['budget'],
        df['rating'],
        df['belongs_to_collection'],
        df['title'],
        df['like_movie']]
    )
    return df_np
def pattern_to_list(data, pattern):
    l = list()
    for i in range(len(data)):
        l.append(re.findall(pattern, data[i,]))
    return l 

def one_hot_encode(data, dictionary):
    nrow = len(data)
    ncol = len(dictionary)
    
    
    matrix = np.zeros(shape = (nrow,ncol))
    for i in range(nrow):
        for k in range(len(data[i])):
            col = dictionary[data[i][k]]
            matrix[i,col] = 1.0
    return matrix
def datasplit(data, ratio = .8):
    data = data.sample(frac = 1)
    
    train_end = math.floor(len(data) * .8)
    train = data[0:train_end]
    test = data[train_end:len(data)]
    
    return train, test
    


def generate_sequences(text_data,#training data
                      maxlen = 50,#maximum length of the embedding sequence
                      max_words = 2000,
                      tokenizer = None):#will only choose consider max_words amount of words for the embedding
    if tokenizer == None:
        tok = text.Tokenizer(num_words=max_words)#Create tokenizer
        tok.fit_on_texts(text_data)#fit tokenizer on texts
    else:
        tok = tokenizer
    
    sequences = tok.texts_to_sequences(text_data) #generate sequences from tokenizer
    
    padded_sequences = pad_sequences(sequences, maxlen = maxlen)#pad sequneces to same length
    
    return (padded_sequences, tok)#return the sequences and the tokenizer

,movieId,belongs_to_collection,budget,genres,imdb_id,overview,production_companies,release_date,runtime,title,vote_average,vote_count,userId,rating,imdbId,tmdbId,cast,crew,keywords,like_movie
25,1018,NaN,15000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt0166924,after a car wreck on the winding mulholland dr...,"[{'name': 'Asymmetrical Productions', 'id': 37...",5/16/2001,147,mulholland drive,7.7,1517,564,4.0,59793,20723,"[{'cast_id': 8, 'character': 'Betty Elms', 'cr...","[{'credit_id': '52fe42e4c3a36847f802aea5', 'de...","[{'id': 222, 'name': 'schizophrenia'}, {'id': ...",1

In [105]:
T_budget_x

array([15000000, 5000000, 1300000, 0, 19000000, 1800000, 10000000,
       21500000, 8000000, 24000000, 15000000, 0, 11000000, 25000000,
       70000000, 0, 15000000, 150000000, 94000000, 79000000, 40000000,
       94000000, 24000000, 85000000, 50000000, 0, 19000000, 0, 0,
       15000000, 20000000, 25000000, 65000000, 50000000, 34000000,
       15000000, 0, 55000000, 0, 0, 0, 1000000, 7000000, 44000000,
       14600000, 63000000, 17000000, 100000000, 0, 31000000, 42000000, 0,
       0, 2000000, 0, 35000000, 0, 48000000, 350000, 546883, 27000000,
       98000000, 6000000, 60000, 1227401, 5000000, 68000, 829000, 0,
       33000, 1814462, 66000000, 45000000, 130000000, 13500000, 21000000,
       839727, 12000000, 35000000, 4000000, 92000000, 16000000, 0, 0,
       185000000, 300000, 0, 0, 15000000, 18000000, 90000000, 70000000,
       1500000, 85000000, 11000000, 28000000, 11000000, 30000000, 0,
       55000000, 35000000, 12800000, 0, 85000000, 0, 8500000, 20000000,
       24000000, 0, 11000000, 126000000, 160000000, 6500000, 75000000,
       22000000, 0, 40000000, 10000000, 0, 40000000, 0, 0, 1700000,
       35000000, 4800000, 0, 0, 5000000, 75000000, 0, 14000000, 24000000,
       55000000, 30000000, 57000000, 140000000, 55000000, 5000000, 0, 0,
       0, 27000000, 1200000, 24000000, 140000000, 0, 6000000, 160000, 0,
       90000000, 102000000, 450000, 0, 6000000, 25000000, 40000000, 0,
       12000000, 0, 66000000, 0, 0, 2200000, 27000000, 380000000, 0, 0,
       34000000, 3000000, 8000000, 0, 65000000, 18000000, 32350000,
       120000000, 113000000, 85000000, 40000000, 160000000, 0, 40000000,
       10000000, 55000000, 38000000, 30000000, 13000000, 3500000,
       38000000, 0, 40000000, 1500000, 60000000, 0, 0, 10000000, 20000000,
       1250000, 5000000, 0, 130000000, 0, 0, 25000000, 16000000, 10000000,
       0, 25000000, 200000, 115000000, 95000000, 74500000, 0, 0, 1700000,
       21000000, 0, 31000000, 35000000, 18000000, 51000000, 0, 100000000,
       110000000, 52000000, 0, 0, 500000, 0, 0, 10000000, 60000000,
       40000000, 0, 120000000, 17500000, 0, 22000000, 100000000, 0,
       17000000, 41300000, 16400000, 22000000, 2000000, 0, 0, 150000000,
       15000000, 13000000, 25000000, 0, 11500000, 6000000, 0, 0, 8500000,
       0, 72000000, 0, 11000000, 0, 1000000, 33000000, 137000000, 0,
       50000000, 35000000, 60000000, 40000000, 51000000, 40000000, 0, 0,
       120000000, 750000, 80000000, 0, 25000000, 0, 15000000, 0, 0,
       58000000, 30000000, 0, 0, 0, 0, 1580000, 5115000, 70000000,
       36000000, 11000000, 0, 185000000, 30000000, 6400000, 1600, 0, 0,
       140000000, 1, 1288000, 51500000, 250000, 25000000, 0, 0, 0, 0,
       180000000, 0, 0, 27000000, 79000000, 393750, 0, 25000000, 22000000,
       5000000, 11000000, 80000000, 0, 50000000, 0, 55000000, 10000000, 0,
       0, 0, 0, 8000000, 20000000, 9000000, 3000000, 0, 6400000, 4000000,
       0, 2883848, 0, 13000000, 34000000, 20000000, 672000, 0, 0, 320000,
       2900000, 72000000, 0, 3000000, 18000000, 7000000, 80000000,
       116000000, 50000000, 7500000, 0, 3000000, 0, 20000000, 0, 15000000,
       24000000, 20000000, 0, 60000000, 8000000, 100000000, 0, 7000000,
       100000000, 40000000, 0, 13000000, 0, 0, 0, 35000000, 200000000, 0,
       50000000, 0, 0, 17000000, 0, 0, 0, 0, 0, 7800000, 25000000, 0, 0,
       2000000, 10000000, 2800000, 45000000, 0, 0, 0, 245000, 0, 0, 0, 0,
       0, 12000000, 100000000, 0, 45000, 11000000, 0, 12000000, 12500000,
       46000000, 0, 33000000, 63000000, 73000000, 75000000, 0, 3500000, 0,
       65000000, 0, 11000000, 30000000, 75000000, 35000000, 28000000, 0,
       11000000, 226408, 4500000, 0, 6000000, 0, 0, 32000000, 0, 35000000,
       0, 28000000, 80000000, 90000000, 0, 0, 0, 1800000, 6000000, 0,
       14000000, 25000000, 2500000, 16000000, 45000000, 25000000, 0, 0, 0,
       0, 14500000, 3500159, 2500000, 0, 60000, 2500000, 1300000,
       10000000, 13000000, 1978000, 60000000, 4000000, 1200000, 0, 0,
       20000000, 2135161, 0, 1500000, 40000000, 42000000, 4000000, 0,
       1400000, 20000000, 0, 0, 30000000, 200000000, 4000000, 806948,
       3500000, 0, 0, 23000000, 60000000, 63000000, 5000000, 70000000,
       50000000, 25000000, 1600000, 60000000, 2000000, 750000, 200000000,
       0, 31000000, 140000000, 70000000, 140000000, 10500000, 6000000,
       4000000, 60000000, 0, 16000000, 52000000, 50000000, 10000000,
       92000000, 125000000, 130000000, 150000000, 0, 15000000, 8000000,
       14000000, 0, 30000000, 1400000, 30000000, 40000000, 32000000,
       5000000, 20000000, 132000000, 40000000, 0, 275000, 80000000,
       2500000, 3600000, 11000000, 9000000, 28000000, 36000000, 22000000,
       60000000, 25000000, 13000000, 2000000, 1500000, 25000000,
       160000000, 63000000, 46000000, 48000000, 8500000, 1500000, 3000000,
       0, 4300000, 2000000, 0, 0, 120000000, 88000000, 9000000, 650000,
       28000000, 45000000, 50000000, 0, 1500000, 25000000, 60000000,
       140000000, 75000000, 125000000, 1800000, 0, 5900000, 1500000],
      dtype=object)

In [115]:
df_np[5,]

array([nan, nan, nan, nan,
       "{'id': 264, 'name': 'Back to the Future Collection', 'poster_path': '/UV8VEgAxgKVnCVnZhFACmhxjE4.jpg', 'backdrop_path': '/c9C9Pg2QctyjZHRmS0P8rZg1OTA.jpg'}",
       "{'id': 155474, 'name': 'French Connection Collection', 'poster_path': '/zheN2WhCSS1M8rkjObQGr0dZdvZ.jpg', 'backdrop_path': '/islbdTICsxPE1c3YEFzEc9Wb46p.jpg'}",
       nan, nan, nan, nan,
       "{'id': 479888, 'name': 'The Thing Collection', 'poster_path': '/9O8LH1fyDNIR26UdtQK4NLGbvLI.jpg', 'backdrop_path': '/lUPruOqjDhZrCKz9Ze2tCufPxHR.jpg'}",
       nan,
       "{'id': 10, 'name': 'Star Wars Collection', 'poster_path': '/ghd5zOQnDaDW1mxO7R5fXXpZMu.jpg', 'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'}",
       nan, nan, nan, nan, nan,
       "{'id': 137697, 'name': 'Finding Nemo Collection', 'poster_path': '/xwggrEugjcJDuabIWvK2CpmK91z.jpg', 'backdrop_path': '/2hC8HHRUvwRljYKIcQDMyMbLlxz.jpg'}",
       "{'id': 119, 'name': 'The Lord of the Rings Collection', 'poster_path': '/p4UokEk2XnjjRTdXGe6DLYXlbI1.jpg', 'backdrop_path': '/bccR2CGTWVVSZAG0yqmy3DIvhTX.jpg'}",
       nan,
       "{'id': 119, 'name': 'The Lord of the Rings Collection', 'poster_path': '/p4UokEk2XnjjRTdXGe6DLYXlbI1.jpg', 'backdrop_path': '/bccR2CGTWVVSZAG0yqmy3DIvhTX.jpg'}",
       "{'id': 1575, 'name': 'Rocky Collection', 'poster_path': '/mCY5dMkSSFQufGCViI6jNUU6pXq.jpg', 'backdrop_path': '/w4h6gjdWPvmu5R9H6zeGDPo1ZuV.jpg'}",
       nan,
       "{'id': 9743, 'name': 'The Hannibal Lecter Anthology', 'poster_path': '/aRbyr3KsdmIczGh6VrlvlgQdwMQ.jpg', 'backdrop_path': '/npCbvak9UhjPsZB9Oa2k2jsqI7E.jpg'}",
       nan,
       '{\'id\': 261382, \'name\': "Clint Eastwood\'s Iwo Jima Collection", \'poster_path\': \'/rnRE6JGz9yjYUAbWIHYkGu9B8pj.jpg\', \'backdrop_path\': \'/dIYpFavJ8vNCv9pefEabsUL1pDP.jpg\'}',
       nan, nan, nan,
       "{'id': 124881, 'name': 'Street Kings Collection', 'poster_path': '/r0c2hR2KQsZO3vdhFQdUsnSuUef.jpg', 'backdrop_path': '/lKOSWtpAQZh7x8YuyYFDv0Y6LWo.jpg'}",
       "{'id': 103372, 'name': 'Mr. Bean Collection', 'poster_path': '/61Jcc1Gwc2KE7sIJ1HPqqdt67ji.jpg', 'backdrop_path': '/aIXcqHz5VKRLXHPsNo0dFoK7YP5.jpg'}",
       "{'id': 125570, 'name': '300 Collection', 'poster_path': '/nKQqh6kJvPdpOJD24enD3Bm1Hy5.jpg', 'backdrop_path': '/mLLztGKyxSLoWjgRSpmm9W12VsU.jpg'}",
       nan, nan, nan, nan, nan, nan, nan,
       "{'id': 141290, 'name': 'The Lord of the Rings Animated Collection', 'poster_path': '/pQuazFOlGRdn2Lb3oWFJYPeASOc.jpg', 'backdrop_path': '/uUG532EWfyhtKDzsA0sLb1PsHhL.jpg'}",
       "{'id': 1575, 'name': 'Rocky Collection', 'poster_path': '/mCY5dMkSSFQufGCViI6jNUU6pXq.jpg', 'backdrop_path': '/w4h6gjdWPvmu5R9H6zeGDPo1ZuV.jpg'}",
       "{'id': 1575, 'name': 'Rocky Collection', 'poster_path': '/mCY5dMkSSFQufGCViI6jNUU6pXq.jpg', 'backdrop_path': '/w4h6gjdWPvmu5R9H6zeGDPo1ZuV.jpg'}",
       "{'id': 5039, 'name': 'Rambo Collection', 'poster_path': '/feGOEOVrOLyjtEnVa88rQLgD3XY.jpg', 'backdrop_path': '/Yt2ZxbJv2HM842B6FNMr59Vhyb.jpg'}",
       nan,
       "{'id': 5039, 'name': 'Rambo Collection', 'poster_path': '/feGOEOVrOLyjtEnVa88rQLgD3XY.jpg', 'backdrop_path': '/Yt2ZxbJv2HM842B6FNMr59Vhyb.jpg'}",
       "{'id': 1575, 'name': 'Rocky Collection', 'poster_path': '/mCY5dMkSSFQufGCViI6jNUU6pXq.jpg', 'backdrop_path': '/w4h6gjdWPvmu5R9H6zeGDPo1ZuV.jpg'}",
       nan, nan,
       "{'id': 1575, 'name': 'Rocky Collection', 'poster_path': '/mCY5dMkSSFQufGCViI6jNUU6pXq.jpg', 'backdrop_path': '/w4h6gjdWPvmu5R9H6zeGDPo1ZuV.jpg'}",
       "{'id': 1575, 'name': 'Rocky Collection', 'poster_path': '/mCY5dMkSSFQufGCViI6jNUU6pXq.jpg', 'backdrop_path': '/w4h6gjdWPvmu5R9H6zeGDPo1ZuV.jpg'}",
       nan, nan, nan, nan, nan, nan, nan, nan, nan,
       "{'id': 150156, 'name': 'City Slickers Collection', 'poster_path': '/1xHwbqIfBQvxNCkdJwQ5vxFwI5H.jpg', 'backdrop_path': '/qv2Bcy963o42k65v0km97G1ceZ4.jpg'}",
       nan,
       "{'id': 178106, 'name': 'Darko Collection', 'poster_path': '/4Oj6ctBucsLvkbKsQMDaDXXR5cu.jpg', 'backdrop_path': '/hja7IzXp6how8eD1WHriI386TGY.jpg'}",
       nan, nan, nan, nan, nan, nan,
       "{'id': 476066, 'name': 'Begotten Collection', 'poster_path': '/eTmRdQWGkVbxO5YXvkvSf3BFbQ.jpg', 'backdrop_path': '/fKj5F5U26FVKx6Q3Wyd1XxVpu3r.jpg'}",
       nan,
       "{'id': 17235, 'name': 'Hellboy Collection', 'poster_path': '/81B1OdGY7f3TVN06eKra25vHzYk.jpg', 'backdrop_path': '/i6WF7cYiogl8g5ryZDbZBw8RNVN.jpg'}",
       "{'id': 93220, 'name': 'Miss Congeniality Collection', 'poster_path': '/wgQWsSsvB1iu1Pwc4nUP9E5bRzs.jpg', 'backdrop_path': '/7TIT28YbhAOeQGD2q2hJ9j83jI1.jpg'}",
       nan,
       "{'id': 1582, 'name': 'Teenage Mutant Ninja Turtles (Original) Collection', 'poster_path': '/9TLc09TqYi0Ct3zmUeHGwVxLHhq.jpg', 'backdrop_path': '/7dusELv6x1ANRGorNvqbKhKIUPY.jpg'}",
       "{'id': 1582, 'name': 'Teenage Mutant Ninja Turtles (Original) Collection', 'poster_path': '/9TLc09TqYi0Ct3zmUeHGwVxLHhq.jpg', 'backdrop_path': '/7dusELv6x1ANRGorNvqbKhKIUPY.jpg'}",
       nan,
       "{'id': 93295, 'name': '48 Hrs. Collection', 'poster_path': '/8Dlcb8aDch6sUcWBc8zSSfNbPgG.jpg', 'backdrop_path': '/hRaxX6WmtukiBvi8ru7RFVQiDYk.jpg'}",
       "{'id': 151, 'name': 'Star Trek: The Original Series Collection', 'poster_path': '/zcB8KxHA4EapOoZZPAvwgmE1iGK.jpg', 'backdrop_path': '/9BQj9hq0aK6yM9Tm2NJ28jg572y.jpg'}",
       nan, nan, nan, nan, nan,
       "{'id': 263, 'name': 'The Dark Knight Collection', 'poster_path': '/bqS2lMgGkuodIXtDILFWTSWDDpa.jpg', 'backdrop_path': '/xfKot7lqaiW4XpL5TtDlVBA9ei9.jpg'}",
       nan, nan, nan,
       "{'id': 1565, 'name': '28 Days/Weeks Later Collection', 'poster_path': '/4AeGz1Jwnq6ky2kfLT95Tm8nEiw.jpg', 'backdrop_path': '/bpn1vynevsKLwAMRikY1L6cb18p.jpg'}",
       "{'id': 151, 'name': 'Star Trek: The Original Series Collection', 'poster_path': '/zcB8KxHA4EapOoZZPAvwgmE1iGK.jpg', 'backdrop_path': '/9BQj9hq0aK6yM9Tm2NJ28jg572y.jpg'}",
       "{'id': 1570, 'name': 'Die Hard Collection', 'poster_path': '/dQP1lu4tBtCiAMeCRcuTFpJiM7y.jpg', 'backdrop_path': '/5kHVblr87FUScuab1PVSsK692IL.jpg'}",
       "{'id': 1570, 'name': 'Die Hard Collection', 'poster_path': '/dQP1lu4tBtCiAMeCRcuTFpJiM7y.jpg', 'backdrop_path': '/5kHVblr87FUScuab1PVSsK692IL.jpg'}",
       nan, nan, nan,
       "{'id': 430186, 'name': 'Bring It On Collection', 'poster_path': '/iybFuFGBKPD8LXOgugjnA8sI6Bb.jpg', 'backdrop_path': '/ypR7RZO9hIAyd3lIx07gJ0AVvbB.jpg'}",
       nan, nan, nan,
       "{'id': 51509, 'name': 'Meet the Parents Collection', 'poster_path': '/WFkinadVm4NRynRKuUcaLFNIDx.jpg', 'backdrop_path': '/7UWRq79VHc58QXTSn57UsOUKQLZ.jpg'}",
       nan,
       "{'id': 498, 'name': 'Heart of Gold Collection', 'poster_path': '/cwrmUIVzOuR9FdqKBfERkMHdde0.jpg', 'backdrop_path': '/293UTX2btTkblOL7WZF1Q7veIJm.jpg'}",
       nan,
       '{\'id\': 304, \'name\': "Ocean\'s Collection", \'poster_path\': \'/rMWeMGBftk6IxNW5mJVH8ZXAvuq.jpg\', \'backdrop_path\': \'/vxmFb03PyjycekffLqXqFibbCzx.jpg\'}',
       nan, nan, nan,
       "{'id': 390096, 'name': 'Hitman Collection', 'poster_path': '/3wYKmCgRmpHQsJAbfGM0axs3gos.jpg', 'backdrop_path': '/weBIyv0mOydPd0GYJl9iDR3RscM.jpg'}",
       nan, nan, nan,
       "{'id': 43064, 'name': 'Speed Collection', 'poster_path': '/9poztwq7SXjEETRdWXcJsl58kxV.jpg', 'backdrop_path': '/75mSNcKIkfZSjXDgytC8UFe6vBl.jpg'}",
       nan, nan,
       "{'id': 328073, 'name': 'SÃ\xadÅ¥ (kolekce)', 'poster_path': '/k8HvmCUbKHBbTJoe7hJQapQd5Uy.jpg', 'backdrop_path': '/5j4HxayNgcAgGStNKqPxM0QNC7V.jpg'}",
       nan, nan,
       '{\'id\': 91746, \'name\': "Bill & Ted\'s Most Excellent Collection", \'poster_path\': \'/e8ytcWY0r32q3RdNJDnv5KRh9hC.jpg\', \'backdrop_path\': \'/m7KWyG7VwXoPbwr3DgeDqed8qU0.jpg\'}',
       '{\'id\': 91746, \'name\': "Bill & Ted\'s Most Excellent Collection", \'poster_path\': \'/e8ytcWY0r32q3RdNJDnv5KRh9hC.jpg\', \'backdrop_path\': \'/m7KWyG7VwXoPbwr3DgeDqed8qU0.jpg\'}',
       "{'id': 264, 'name': 'Back to the Future Collection', 'poster_path': '/UV8VEgAxgKVnCVnZhFACmhxjE4.jpg', 'backdrop_path': '/c9C9Pg2QctyjZHRmS0P8rZg1OTA.jpg'}",
       nan, nan,
       "{'id': 1709, 'name': 'Planet of the Apes Original Collection', 'poster_path': '/r7TBDEcpBAuFoqdtUz7z2nSeFej.jpg', 'backdrop_path': '/eYf3GRnuVCgeFQfEo0qK7ua5rCR.jpg'}",
       "{'id': 399, 'name': 'Predator Collection', 'poster_path': '/6Z7lASptoiRVxiCFvZaFgH9qp7u.jpg', 'backdrop_path': '/fXVzk9OxQwROCuiWvd0Cv76qmZi.jpg'}",
       "{'id': 86578, 'name': 'Hostel Collection', 'poster_path': '/2jLQFRlH8CC9cptcANY5cEtC1q8.jpg', 'backdrop_path': '/rXf4gEh8m3ZcK9KHkxT78Kscxee.jpg'}",
       "{'id': 105625, 'name': 'House of 1000 Corpses Collection', 'poster_path': '/7xpo52YDhHNFG5qdrLxhG58k0ke.jpg', 'backdrop_path': '/osLewbX6FJMy1iUcNHm6hoiNH0j.jpg'}",
       nan,
       "{'id': 1565, 'name': '28 Days/Weeks Later Collection', 'poster_path': '/4AeGz1Jwnq6ky2kfLT95Tm8nEiw.jpg', 'backdrop_path': '/bpn1vynevsKLwAMRikY1L6cb18p.jpg'}",
       nan, nan, nan, nan, nan,
       "{'id': 151, 'name': 'Star Trek: The Original Series Collection', 'poster_path': '/zcB8KxHA4EapOoZZPAvwgmE1iGK.jpg', 'backdrop_path': '/9BQj9hq0aK6yM9Tm2NJ28jg572y.jpg'}",
       nan,
       "{'id': 131292, 'name': 'Iron Man Collection', 'poster_path': '/fbeJ7f0aD4A112Bc1tnpzyn82xO.jpg', 'backdrop_path': '/rI8zOWkRQJdlAyQ6WJOSlYK6JxZ.jpg'}",
       nan, nan, nan, nan, nan,
       "{'id': 151, 'name': 'Star Trek: The Original Series Collection', 'poster_path': '/zcB8KxHA4EapOoZZPAvwgmE1iGK.jpg', 'backdrop_path': '/9BQj9hq0aK6yM9Tm2NJ28jg572y.jpg'}",
       "{'id': 656, 'name': 'Saw Collection', 'poster_path': '/xmC2A7qPEfiOkQC58fZh8srWQ5v.jpg', 'backdrop_path': '/oLfS1lOmN2KIU2IQ200SDEPVEZe.jpg'}",
       nan,
       "{'id': 131295, 'name': 'Captain America Collection', 'poster_path': '/2tOgiY533JSFp7OrVlkeRJvsZpI.jpg', 'backdrop_path': '/nZSYqitBkAvmoq5IrsGsSWuhSC8.jpg'}",
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan,
       "{'id': 138908, 'name': '2 Days In... Collection', 'poster_path': '/ffwnytEmZsWSZmb8BH7BblRVBfR.jpg', 'backdrop_path': '/gzj0bdcB3zZ6u5JSfFBd2TRCcAz.jpg'}",
       nan, nan, nan,
       "{'id': 295, 'name': 'Pirates of the Caribbean Collection', 'poster_path': '/zT5UKFhq9nk97VGlBbAxlAK8UFN.jpg', 'backdrop_path': '/cnKAGbX1rDkAquF2V1wVkptHDJO.jpg'}",
       nan, nan, nan,
       "{'id': 133830, 'name': 'Star Wars: The Ewok Adventures Collection', 'poster_path': '/iY9Smj4RQB1ey8QB0JcMtV35uc1.jpg', 'backdrop_path': '/9IwrTRYGaxrlbRjCs7UBRzU0skS.jpg'}",
       "{'id': 8580, 'name': 'The Karate Kid Collection', 'poster_path': '/o6h2F0C5eZOy50Q76fNYzc9mvvw.jpg', 'backdrop_path': '/1ok5JGCsDt4Sh3CkFeXh2F2KB7F.jpg'}",
       nan,
       "{'id': 135179, 'name': 'Sin City Collection', 'poster_path': '/aGgHxGVmjssn7lw1ZucY5U2gI8K.jpg', 'backdrop_path': '/qs200GlvLNIQKUns6AIeLcJWtPT.jpg'}",
       "{'id': 10, 'name': 'Star Wars Collection', 'poster_path': '/ghd5zOQnDaDW1mxO7R5fXXpZMu.jpg', 'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'}",
       "{'id': 10, 'name': 'Star Wars Collection', 'poster_path': '/ghd5zOQnDaDW1mxO7R5fXXpZMu.jpg', 'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'}",
       "{'id': 10, 'name': 'Star Wars Collection', 'poster_path': '/ghd5zOQnDaDW1mxO7R5fXXpZMu.jpg', 'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'}",
       "{'id': 10, 'name': 'Star Wars Collection', 'poster_path': '/ghd5zOQnDaDW1mxO7R5fXXpZMu.jpg', 'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'}",
       nan, nan, nan, nan, nan, nan,
       "{'id': 8537, 'name': 'Superman Collection', 'poster_path': '/fgTdu62v1jjNDPh68V9TJZMgXbo.jpg', 'backdrop_path': '/la0EhOrgVAiY8sf3ILz3wgoaNXH.jpg'}",
       "{'id': 115570, 'name': 'Star Trek: The Next Generation Collection', 'poster_path': '/sddV6vaUC6x37icJS3opIXTXB07.jpg', 'backdrop_path': '/r7MMQenUURHhAVHFymtOb8AX4Bm.jpg'}",
       nan,
       "{'id': 52749, 'name': 'The Butterfly Effect Collection', 'poster_path': '/8lkeUgXNSB0foS3wU7rkuMTdMKV.jpg', 'backdrop_path': '/7DsbbkQAKSci07Jp4fJVq3QXSEF.jpg'}",
       nan, nan, nan,
       "{'id': 264, 'name': 'Back to the Future Collection', 'poster_path': '/UV8VEgAxgKVnCVnZhFACmhxjE4.jpg', 'backdrop_path': '/c9C9Pg2QctyjZHRmS0P8rZg1OTA.jpg'}",
       nan, nan, nan, nan,
       "{'id': 1974, 'name': 'The Grudge Collection', 'poster_path': '/dohOSIYDEK42stdfKo0pQfrve0h.jpg', 'backdrop_path': '/nRfDTqIuaVLu2aB0qFuSmw8btp0.jpg'}",
       "{'id': 1974, 'name': 'The Grudge Collection', 'poster_path': '/dohOSIYDEK42stdfKo0pQfrve0h.jpg', 'backdrop_path': '/nRfDTqIuaVLu2aB0qFuSmw8btp0.jpg'}",
       nan,
       "{'id': 1974, 'name': 'The Grudge Collection', 'poster_path': '/dohOSIYDEK42stdfKo0pQfrve0h.jpg', 'backdrop_path': '/nRfDTqIuaVLu2aB0qFuSmw8btp0.jpg'}",
       nan,
       "{'id': 9744, 'name': 'Fantastic Four Collection', 'poster_path': '/prObnUSCHIBC8ZjkGo2KHgjkWOo.jpg', 'backdrop_path': '/3JFe9AWoKuQWox7HO8HKgYRMOF7.jpg'}",
       nan, nan, nan, nan, nan, nan,
       "{'id': 339577, 'name': 'Grindhouse Collection', 'poster_path': '/sWUxopG2KTIn4ve8v0SlbAzLGaz.jpg', 'backdrop_path': '/f6CqIpHJLCqmd4VgytKymKl0JEF.jpg'}",
       nan,
       "{'id': 2467, 'name': 'Tomb Raider Collection', 'poster_path': '/sgaP4WtVlKzz8FIcjbkevOycJiq.jpg', 'backdrop_path': '/plM0vErSrAwT3tJldstB9bv2AyN.jpg'}",
       "{'id': 2467, 'name': 'Tomb Raider Collection', 'poster_path': '/sgaP4WtVlKzz8FIcjbkevOycJiq.jpg', 'backdrop_path': '/plM0vErSrAwT3tJldstB9bv2AyN.jpg'}",
       nan, nan, nan, nan, nan, nan,
       "{'id': 103573, 'name': 'Sister Act Collection', 'poster_path': '/m9xbNgB8MrrGOCvc4vjOtSWdqh9.jpg', 'backdrop_path': '/5zLMzYgpx2TNmISTk1MnRyRWY9M.jpg'}",
       nan,
       "{'id': 412680, 'name': 'Hard Target Collection', 'poster_path': '/g7Bc4ik16xOBz21BQOcsxrBL8BO.jpg', 'backdrop_path': '/wcBIwQY888HX1QWpnv43lAujoId.jpg'}",
       nan, nan, nan, nan, nan, nan, nan, nan, nan,
       "{'id': 123251, 'name': 'Iron Eagle Collection', 'poster_path': '/bAXtdm522B1kVaripFoZLJRU7Ba.jpg', 'backdrop_path': None}",
       nan,
       "{'id': 142680, 'name': 'Alex Cross Collection', 'poster_path': '/64mlnEVoq1I0BZe4iDdAv89qO9Z.jpg', 'backdrop_path': '/eyKpawn8yMq6kdv03wgKruMuSJX.jpg'}",
       nan, nan, nan, nan, nan, nan,
       "{'id': 52984, 'name': 'National Treasure Collection', 'poster_path': '/z5EIRaI8XS0brelYwDFEVlxcpzM.jpg', 'backdrop_path': '/a0GLVfaDSf5GNZKK5H4FgGCD2VW.jpg'}",
       nan, nan,
       "{'id': 103577, 'name': 'The Whole Nine/Ten Yards Collection', 'poster_path': '/m6tkyCcOm4wzklAvsT0jyaM5mgY.jpg', 'backdrop_path': '/ttaiuuOHjYLTszcbADBZImqRK5H.jpg'}",
       nan, nan, nan, nan, nan,
       "{'id': 453993, 'name': 'The Wolverine Collection', 'poster_path': '/8Ht4a5A5Ypxh0PjbVoRTzm1kAu3.jpg', 'backdrop_path': '/QtSxEuCwcZSfCTMZfER3nHDVsG.jpg'}",
       "{'id': 126209, 'name': 'Halloween (Rob Zombie Series) Collection', 'poster_path': '/eFfRMP387MTJ4jl0gcE5jvS9XXN.jpg', 'backdrop_path': '/tXXPOkcFLcDiJ4OU5SOU3JnhQrg.jpg'}",
       nan, nan, nan, nan, nan, nan, nan, nan,
       "{'id': 252313, 'name': 'The Endless Summer Collection', 'poster_path': '/zhG3P4ALlXxoFi0CGfcVsR3qmDL.jpg', 'backdrop_path': '/rbeqwDmy0yPMxBqA2ELvu08okcn.jpg'}",
       nan, nan,
       "{'id': 2806, 'name': 'American Pie Collection', 'poster_path': '/twY1eM88fu8CCGVtem5ItlrgeDA.jpg', 'backdrop_path': '/3ptXtaqzAZlMXn3nZxaYke4anmK.jpg'}",
       nan, nan,
       "{'id': 90863, 'name': 'Rush Hour Collection', 'poster_path': '/pTjvzlYByJuZ4TTkmlHIe4aDFy2.jpg', 'backdrop_path': '/uoDt3eCCKpcxSQVWjPTgN8T0gjm.jpg'}",
       "{'id': 140760, 'name': 'Final Fantasy Collection', 'poster_path': '/x6HZaopJw26YnjBZjo06sWmPEPM.jpg', 'backdrop_path': '/gj6XQf5cM66XHMTonCgsOE0VphX.jpg'}",
       nan, nan, nan, nan,
       "{'id': 103577, 'name': 'The Whole Nine/Ten Yards Collection', 'poster_path': '/m6tkyCcOm4wzklAvsT0jyaM5mgY.jpg', 'backdrop_path': '/ttaiuuOHjYLTszcbADBZImqRK5H.jpg'}",
       nan, nan, nan, nan, nan, nan, nan,
       "{'id': 452675, 'name': 'Cleopatra Jones', 'poster_path': None, 'backdrop_path': None}",
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan,
       "{'id': 84, 'name': 'Indiana Jones Collection', 'poster_path': '/lpxDrACKJhbbGOlwVMNz5YCj6SI.jpg', 'backdrop_path': '/6kh59mZizZsttZPR0HAdXk6Ve2n.jpg'}",
       nan,
       "{'id': 528, 'name': 'The Terminator Collection', 'poster_path': '/vxiKtcxAJxHhlg2H1X8y7zcM3k6.jpg', 'backdrop_path': '/cpmbkwSxZnKO69V82A9a34tvk2E.jpg'}",
       nan, nan, nan,
       "{'id': 295, 'name': 'Pirates of the Caribbean Collection', 'poster_path': '/zT5UKFhq9nk97VGlBbAxlAK8UFN.jpg', 'backdrop_path': '/cnKAGbX1rDkAquF2V1wVkptHDJO.jpg'}",
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan,
       "{'id': 218406, 'name': 'Frankenstein (Universal Series)', 'poster_path': '/2PJYpPHOqnVMXelHV1T4t6zra4i.jpg', 'backdrop_path': '/oR3GHwhvOcjn124b7wOZl9SHh8G.jpg'}",
       nan, nan, nan,
       "{'id': 182813, 'name': 'Clerks Collection', 'poster_path': '/qEjGvJ9I2ak6ENjdJ23dfjqLkAK.jpg', 'backdrop_path': '/6Fjkbh2DVAvVZa3c1HamblAN5Bg.jpg'}",
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan,
       "{'id': 166698, 'name': 'Westworld Collection', 'poster_path': '/pYL3YYNMwGz18dylTxRM8Ffai4e.jpg', 'backdrop_path': '/3yzaSCXO8cT7Q1tgCsmf8ypSxRI.jpg'}",
       nan, nan, nan, nan, nan,
       "{'id': 230, 'name': 'The Godfather Collection', 'poster_path': '/7SJVjEDoo7xH62TS8stkqRk4Byo.jpg', 'backdrop_path': '/3WZTxpgscsmoUk81TuECXdFOD0R.jpg'}",
       nan, nan,
       "{'id': 135495, 'name': 'King Kong (1933 series)', 'poster_path': '/pM9K6M8wZNypSEXoi2TaeXGpcHu.jpg', 'backdrop_path': None}",
       nan, nan, nan, nan,
       "{'id': 285564, 'name': 'Jarhead Collection', 'poster_path': '/aRFpBjCseFD6UmahAuLdqS7Or5q.jpg', 'backdrop_path': '/ifSnip5tvaHvxLPAyjkiihE6T2I.jpg'}",
       nan, nan, nan,
       "{'id': 645, 'name': 'James Bond Collection', 'poster_path': '/HORpg5CSkmeQlAolx3bKMrKgfi.jpg', 'backdrop_path': '/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg'}",
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan,
       "{'id': 105625, 'name': 'House of 1000 Corpses Collection', 'poster_path': '/7xpo52YDhHNFG5qdrLxhG58k0ke.jpg', 'backdrop_path': '/osLewbX6FJMy1iUcNHm6hoiNH0j.jpg'}",
       nan, nan, nan, nan,
       "{'id': 87631, 'name': 'The Musketeers Collection', 'poster_path': '/kaRcbucpuJzVYqiu0fLg0qKdrS8.jpg', 'backdrop_path': None}",
       nan, nan, nan,
       "{'id': 528, 'name': 'The Terminator Collection', 'poster_path': '/vxiKtcxAJxHhlg2H1X8y7zcM3k6.jpg', 'backdrop_path': '/cpmbkwSxZnKO69V82A9a34tvk2E.jpg'}",
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       "{'id': 123720, 'name': 'Frankenstein (Hammer Series)', 'poster_path': '/fKiok5TbCKWRgfNd4Rj8gPMzGJp.jpg', 'backdrop_path': '/gl9Gi60C9WYVkObOMll19OROhMC.jpg'}",
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       "{'id': 328, 'name': 'Jurassic Park Collection', 'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg', 'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'}",
       "{'id': 328, 'name': 'Jurassic Park Collection', 'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg', 'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'}",
       "{'id': 237445, 'name': 'Inspector Gadget Collection', 'poster_path': '/m80WunRaXoCBeKcYfoGAldyBWOc.jpg', 'backdrop_path': '/AosJpZ6TvYFYtRzvgFfb82g2S70.jpg'}",
       nan, nan,
       "{'id': 475520, 'name': 'The Yes Men Collection', 'poster_path': None, 'backdrop_path': None}",
       nan, nan,
       "{'id': 8091, 'name': 'Alien Collection', 'poster_path': '/iVzIeC3PbG9BtDAudpwSNdKAgh6.jpg', 'backdrop_path': '/kB0Y3uGe9ohJa59Lk8UO9cUOxGM.jpg'}",
       nan, nan, nan, nan, nan, nan,
       "{'id': 47814, 'name': 'The Thin Man Collection', 'poster_path': '/ro4YziSxDdrfON4CDHwNXvblCD1.jpg', 'backdrop_path': '/2yt8EpI4lobOqyANq9jN6b585zZ.jpg'}",

In [3]:
import tensorflow as tf
#from tensorflow import keras
from tensorflow import keras
from keras import optimizers



from tensorflow.keras import layers



maxlen = 50
max_words = 200


dataset_dir = "Datasets/FinalClean.csv"
df = pd.read_csv(dataset_dir)
df = df.iloc[:,1:21]

#train_df = 


df_564 = get_user_movies(df, 564)
df_np = df_to_numpy(df_564)






T_genre_x = df_np[1,:]#Done
T_overview_x = df_np[2,:]#Done
T_budget_x = df_np[3,:]#Done
T_title_x = df_np[6,:]
T_rating_x = df_np[4,:]
y_like_movie = df_np[7,:].astype('int')
#y_like_movie = y_like_movie[:,1]


#y_like_movie = keras.utils.to_categorical(y_like_movie, num_classes=2)



pattern = r"'name': '([^']*)'"
#re.search(pattern, data)

genre_list = pattern_to_list(T_genre_x,pattern)


x_genre = one_hot_encode(genre_list,genre_dict)
x_overview, overview_tokenizer = generate_sequences(T_overview_x, maxlen = maxlen, max_words = max_words)
x_title, title_tokenizer = generate_sequences(T_title_x, maxlen = maxlen, max_words = max_words)
x_budget = np.asarray(T_budget_x).astype('float32')


#T_belongs_to_collection_x = df_np[5,:]


num_obs = len(df_np[0])

o_x = tf.keras.Input(shape = (maxlen,)) #Overview
o_x_2 = layers.Embedding(input_dim = max_words,
                       input_length = maxlen,
                       output_dim = 8)(o_x)
#o_x_3 = layers.Reshape((maxlen, 8))(o_x_2)
o_x_3 = layers.LSTM(64)(o_x_2)

g_x = tf.keras.Input(shape = len(x_genre[0,])) #Genre

b_x = layers.Input(shape = 1) #Budget
#r_x = layers.Input(shape = ()) #Rating


t_x = tf.keras.Input(shape = (maxlen,)) #Title
t_x_2 = layers.Embedding(input_dim = max_words,
                       input_length = maxlen,
                         output_dim = 8)(t_x)
#t_x_3 = layers.Reshape((maxlen, 8))(t_x_2)
t_x_3 = layers.LSTM(64)(t_x_2)




concat_layers = layers.Concatenate()([o_x_3,g_x, b_x,t_x_3])
dense1 = keras.layers.Dense(2, use_bias=True)(concat_layers)
output = keras.layers.Dense(1, activation=keras.activations.sigmoid, use_bias=True)(dense1)
#z = layers.Dense(2, activaion="relu")(concat_layers)






model = keras.Model(inputs=[o_x,
                       g_x,
                       b_x,
                       t_x],
                    outputs=output
                   )

model.compile(
    optimizer = keras.optimizers.RMSprop(lr=0.01),
    loss = 'binary_crossentropy',
    metrics=['accuracy']
)




history = model.fit([x_overview,
           x_genre,
           x_budget,
           x_title
          ],
          y_like_movie,
         batch_size = 16,
         epochs = 10,
         verbose=1)

C:\Users\tyele\AppData\Local\Temp\ipykernel_9636\570399445.py:17: DtypeWarning: Columns (0,1,2,3,9,11,12,13,14,15,16,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dataset_dir)
C:\Users\tyele\anaconda3\envs\tf\lib\site-packages\keras\optimizer_v2\optimizer_v2.py:355: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  warnings.warn(

Epoch 1/10
37/37 [==============================] - 5s 26ms/step - loss: 152787.3125 - accuracy: 0.6508
Epoch 2/10
37/37 [==============================] - 1s 26ms/step - loss: 86296.8203 - accuracy: 0.7002
Epoch 3/10
37/37 [==============================] - 1s 26ms/step - loss: 65116.0195 - accuracy: 0.7411
Epoch 4/10
37/37 [==============================] - 1s 26ms/step - loss: 79777.8906 - accuracy: 0.7138
Epoch 5/10
37/37 [==============================] - 1s 27ms/step - loss: 64296.1836 - accuracy: 0.7411
Epoch 6/10
37/37 [==============================] - 1s 27ms/step - loss: 74229.2578 - accuracy: 0.7019
Epoch 7/10
37/37 [==============================] - 1s 26ms/step - loss: 69810.7266 - accuracy: 0.7479
Epoch 8/10
37/37 [==============================] - 1s 27ms/step - loss: 46312.4180 - accuracy: 0.7342
Epoch 9/10
37/37 [==============================] - 1s 26ms/step - loss: 56735.5469 - accuracy: 0.7581
Epoch 10/10
37/37 [==============================] - 1s 27ms/step - loss: 50237.8672 - accuracy: 0.7462

In [ ]:
from matplotlib import pyplot as plt

plt.plot(history.history['accuracy'])
plt.show()

In [305]:
print(x_overview.shape, x_overview.dtype)
print(x_genre.shape, x_genre.dtype)
print(x_budget.shape, x_budget.dtype)
print(x_title.shape, x_title.dtype)
print(y_like_movie.shape, y_like_movie.dtype)

(587, 50) int32
(587, 20) float64
(587,) float32
(587, 50) int32
(587,) int32

numpy.ndarray